*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body{
    height: 100%;
}

h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 16px;
}

.site-container{
    max-width: 1280px;
    margin: 0 auto;
    min-height:500px;
    //background-color: burlywood;
    
}
@font-face {
    font-family: Gill Sans;
    src: url(../css/fonts/fonts/GillSans.ttc);
}

@font-face {
    font-family: ProxThin;
    src: url(../css/fonts/fonts/Proxima-Nova-Thin.otf);
}
