header{
    width: 70%;
    height: 200px;
    background-image:linear-gradient(to right, rgb(0, 0, 0, 0.5),rgb(0,0,0,0.5) ), url(../../images/tour/tour/tours-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 70px;
    margin: 0 auto;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:60px ;
        text-transform: uppercase;
        color: white;
        font-family: ProxThin;               
        
    }
}